Repository angeloanan/angeloanan.xyz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier-standard --staged, prettier-standard --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts}": ["eslint --cache --fix", "prettier-standard --staged"],
  "*.{js,json,md}": ["prettier-standard --write"]
}

feat: dynamically generated sitemap
  next.config.js
  package.json
  public/robots.txt
  scripts/generate-sitemap.js
  yarn.lock
Due: prettier-standard --write

fix(fonts): re-adjust font weights
  src/components/navbar/navbar-button.tsx
  src/components/ui/angelo-avatar/index.tsx
Due: none

feat: font rendering optimization
  src/theme.ts
Due: eslint --cache --fix, prettier-standard --staged

feat: initial stars page
  .yarn/cache/@types-google.analytics-npm-0.0.41-ef132cf924-db530fa6b1.zip
  .yarn/cache/swr-npm-0.4.0-8a5202848a-884bf5701b.zip
  package.json
  src/pages/stars.tsx
  yarn.lock
Due: prettier-standard --write

fix(theme): kebab case --> camel case
  src/theme.ts
Due: eslint --cache --fix, prettier-standard --staged

fix(seo): full name as headline
  src/next-seo.config.ts
Due: eslint --cache --fix, prettier-standard --staged

fix(text-heading): lowercase asstyle because react doesn't like it
  src/components/typography/TextHeading.tsx
  src/pages/stars.tsx
Due: none

feat(stargazers): more details
  src/pages/stars.tsx
  src/types/github.ts
Due: eslint --cache --fix, prettier-standard --staged

feat: a11y
  src/components/navbar/index.tsx
  src/components/navbar/navbar-button.tsx
  src/components/ui/angelo-avatar/index.tsx
  src/components/ui/content-spacer/index.tsx
Due: none

feat(contact-page): more ways to contact me!
  src/components/typography/ListItemWithProps.tsx
  src/pages/contact.tsx
Due: none

feat(about-page): add CV
  src/pages/about.tsx
Due: none

feat: ignore automatically generated sitemap
  .gitignore
Due: none

feat(about-page): last.fm integration (recent tracks)
  package.json
  src/components/ui/spotify-track.tsx
  src/pages/about.tsx
Due: prettier-standard --write

security: nosniff, click-jacking and hsts
  next.config.js
Due: prettier-standard --write

security: include everything else in CSP
  next.config.js
Due: prettier-standard --write

security: rm -rf X-Content-Security-Policy
  next.config.js
Due: prettier-standard --write

perf: some improvements
  src/pages/about.tsx
Due: none

fix(lastfm): use default image on image not found
  public/img/unknown-album.webp
  src/pages/about.tsx
Due: none

fix(about): null coalescing on everything
  src/pages/about.tsx
Due: none

feat(typography): textlink component
  src/components/typography/TextLink.tsx
  src/components/typography/index.ts
Due: eslint --cache --fix, prettier-standard --staged

refactor(textparagraph): uses absolute color rather than opacity
  src/components/typography/TextParagraph.tsx
Due: none

fix(project-entry): unify color
  src/components/ui/project/index.tsx
Due: none

feat(about): add null coalescing for every image object access
  src/pages/about.tsx
Due: none

feat(about): generic types for tracks
  src/pages/about.tsx
Due: none

feat(about): more details 🎉
  src/pages/about.tsx
Due: none

feat(about-page): knowledgebase section
  src/components/icons/upcloud.tsx
  src/components/ui/hover-icon.tsx
  src/pages/about.tsx
Due: none

feat: scrollbar styling
  src/pages/_document.tsx
Due: none

feat: logo
  public/logo.svg
Due: none

feat: bimi logo
  public/bimilogo.svg
Due: none

feat: update keybase proof
  public/.well-known/keybase.txt
Due: none

feat(about): update about page
  src/pages/about.tsx
Due: none

fix(about): encode everything that's URI component
  src/pages/about.tsx
Due: none

feat: deduplicate lockfile
  yarn.lock
Due: none

feat: upgrade dependabot to version 2
  .github/dependabot.yml
Due: none

deps: upgrade dependencies
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier-standard --write

refactor(about-page): cleanup on lastfm data fetching
  src/pages/about.tsx
Due: none
