Repository angeloanan/angeloanan.xyz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier-standard --staged, prettier-standard --write

feat(spotify-track): initial size on images to prevent cls
  src/components/ui/spotify-track.tsx
Due: none

deps: upgrade to next 11 🎉
  .eslintrc
  package.json
  yarn.lock
Due: prettier-standard --write

deps: remove prettier-standard
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier-standard --write

feat: too many updates
  .eslintrc
  next-env.d.ts
  next.config.js
  package.json
  src/components/app-footer.tsx
  src/components/icons/upcloud.tsx
  src/components/navbar/index.tsx
  src/components/navbar/navbar-button.tsx
  src/components/typography/TextLink.tsx
  src/components/typography/TextParagraph.tsx
  src/components/ui/angelo-avatar/index.tsx
  src/components/ui/content-spacer/index.tsx
  src/components/ui/hover-icon.tsx
  src/components/ui/project/index.tsx
  src/components/ui/spotify-track.tsx
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/etc.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
  src/pages/stars.tsx
  src/pages/uses.tsx
  src/theme.ts
  yarn.lock
Due: eslint --cache --fix, prettier-standard --staged, prettier-standard --write

feat(index-page): blur pfp
  src/pages/index.tsx
Due: none

chore: upgrade browserlists
  yarn.lock
Due: none

style: apply prettier
  .eslintrc
  .lintstagedrc.json
  .prettierrc
  package.json
  src/components/app-footer.tsx
  src/components/navbar/index.tsx
  src/components/typography/TextParagraph.tsx
  src/components/ui/project/index.tsx
  src/components/ui/spotify-track.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
  src/pages/stars.tsx
  src/pages/uses.tsx
  src/theme.ts
  yarn.lock
Due: eslint --cache --fix, prettier-standard --staged, prettier-standard --write

feat: uses preact and upgraded deps
  .lintstagedrc.json
  .prettierrc
  next-env.d.ts
  next.config.js
  package.json
  yarn.lock
Due: prettier-standard --write

refactor: optimized type import
  src/pages/_app.tsx
Due: none

feat(angelo-avatar): removed blur to improve perf
  src/pages/index.tsx
Due: none

feat(stars): optimize imports and fixed user redirects
  src/pages/stars.tsx
Due: none

chore(yarn.lock): deduped lockfile
  yarn.lock
Due: none

chore: removed jsoncv
  _jsoncv.json
Due: prettier-standard --write

feat: uses swrimmutable and added custom fetcher
  src/pages/stars.tsx
  yarn.lock
Due: none

feat(stars): passes href to child
  src/pages/stars.tsx
Due: none

feat(contact): include linkedin
  src/pages/contact.tsx
Due: none

feat: update /uses
  public/img/uses_header.webp
  src/pages/uses.tsx
Due: none

style: apply prettier
  src/pages/stars.tsx
Due: none

feat: experimental stuff
  next.config.js
  package.json
  yarn.lock
Due: prettier-standard --write

fix: disable swcMinify
  next.config.js
Due: prettier-standard --write

fix: disable swc
  next.config.js
  package.json
  yarn.lock
Due: prettier-standard --write

feat(uses): add capture card and update opengraph
  src/pages/uses.tsx
Due: none

refactor(uses): dynamically generate content based on json
  src/pages/uses.tsx
Due: none

refactor: removed React.FC
  src/components/app-footer.tsx
  src/components/app-header.tsx
  src/components/navbar/index.tsx
  src/components/opengraph.tsx
  src/components/typography/ListItemWithProps.tsx
  src/components/typography/TextHeading.tsx
  src/components/typography/TextLink.tsx
  src/components/typography/TextParagraph.tsx
  src/components/ui/project/index.tsx
  src/components/ui/spotify-track.tsx
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/etc.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
  src/pages/stars.tsx
  src/pages/uses.tsx
  yarn.lock
Due: none

chore(husky); do not use eslint cache
  .lintstagedrc.json
Due: prettier-standard --write

Fixed the Discord link
  src/pages/contact.tsx
Due: none

fix(uses): typo
  src/pages/uses.tsx
Due: none

fix(uses): update motherboard
  src/pages/uses.tsx
Due: none

feat: cloudflare analytics
  src/components/app-header.tsx
Due: none

fix(lint-staged): add extension
  .lintstagedrc.json
Due: prettier-standard --write

chore: upgrade deps
  package.json
  yarn.lock
Due: prettier-standard --write

style: fix styling
  src/components/app-header.tsx
Due: none

feat: long v1 update
  next-env.d.ts
  next-sitemap.js
  next.config.js
  package.json
  src/components/listening.server.tsx.backup
  src/components/ui/AngeloAvatar/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/stars.tsx
  src/pages/uses.tsx
  src/types/lastfm.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier-standard --staged, prettier-standard --write

feat: initial v2
  .env.example
  .eslintrc.json
  .prettierrc
  next-env.d.ts
  next-sitemap.js
  next.config.js
  package.json
  postcss.config.js
  public/.gitkeep
  public/images/404.png
  public/pfp.png
  src/components/.gitkeep
  src/components/Navbar/MainNav.tsx
  src/components/Navbar/index.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/api/.gitkeep
  src/pages/index.tsx
  src/style/globals.css
  tailwind.config.js
  tsconfig.json
  vendor.d.ts
  yarn.lock
Due: prettier-standard --write

deps: deduplicated lockfile
  yarn.lock
Due: none

fix(seo): implement seo
  next-seo.config.js
  src/pages/_app.tsx
Due: prettier-standard --write

feat(i18n): add basic i18n
  next.config.js
Due: prettier-standard --write

feat(seo): add description and adjust dash to emdash
  next-seo.config.js
Due: prettier-standard --write

feat: highlighted projects
  public/images/projects/frontend-id.png
  public/images/projects/lyrics-finder.png
  public/images/projects/punishment-appeals.png
  src/_data/projects.ts
  src/components/Navbar/MainNav.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier-standard --staged

feat: footer
  src/components/Footer/MainFooter.tsx
  src/components/Footer/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: none

Path conditions:
  eslint --cache --fix: any of: src/**/*.{js,ts}
  prettier-standard --staged: any of: src/**/*.{js,ts}
  prettier-standard --write: any of: *.{js,json,md}
