Repository angeloanan/angeloanan.xyz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier-standard --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts}": ["eslint --cache --fix", "prettier-standard --write"],
  "*.{js,json,md}": ["prettier-standard --write"]
}

feat: husky
  .huskyrc.json
  package.json
  yarn.lock
Due: prettier-standard --write

feat: clean mobile first design
  .huskyrc.json
  package.json
  public/img/projects/frontend-id.png
  public/img/projects/lyrics-finder.png
  public/img/site.webmanifest
  src/components/home/masthead/index.tsx
  src/components/navbar/index.tsx
  src/components/navbar/navbar-button.tsx
  src/components/typography/TextHeading.tsx
  src/components/typography/TextParagraph.tsx
  src/components/typography/index.ts
  src/components/ui/angelo-avatar/index.tsx
  src/components/ui/content-spacer/index.tsx
  src/components/ui/content-spacer/project-section/project-card.tsx
  src/components/ui/project/index.tsx
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
  src/theme.ts
  yarn.lock
Due: eslint --cache --fix, prettier-standard --write

housekeeping: yarn berry
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
Due: none

refactor(homepage): uses a separate datapoint for projects
  src/_data/projects.json
  src/pages/index.tsx
Due: prettier-standard --write

deps: upgrade dependencies
  .yarn/cache/@chakra-ui-checkbox-npm-1.0.2-4128fed890-0a03f9f9f7.zip
  .yarn/cache/@chakra-ui-checkbox-npm-1.1.0-29dd2cf611-0a2ba304f2.zip
  .yarn/cache/@chakra-ui-pin-input-npm-1.1.1-8693dfc17b-4cbb031d76.zip
  .yarn/cache/@chakra-ui-pin-input-npm-1.1.2-fb9a825740-ccbe72a8d7.zip
  .yarn/cache/@chakra-ui-radio-npm-1.0.3-a433e1623d-6605089340.zip
  .yarn/cache/@chakra-ui-radio-npm-1.1.0-546c5d6c16-92a2ab8181.zip
  .yarn/cache/@chakra-ui-react-npm-1.0.4-a29ea082b5-ebf8b3071c.zip
  .yarn/cache/@chakra-ui-react-npm-1.1.0-e8c730e8b7-1f57611132.zip
  .yarn/cache/@chakra-ui-skeleton-npm-1.0.3-9a658cbb14-c00c4e4b2a.zip
  .yarn/cache/@chakra-ui-skeleton-npm-1.0.4-9d4ba0aee2-206b2e5f9d.zip
  .yarn/cache/@chakra-ui-styled-system-npm-1.2.0-061deb876b-0601874749.zip
  .yarn/cache/@chakra-ui-styled-system-npm-1.3.0-fb913174f8-a89126c566.zip
  .yarn/cache/@chakra-ui-switch-npm-1.0.2-3ab3b2fe20-c7ad65f67f.zip
  .yarn/cache/@chakra-ui-switch-npm-1.0.3-f5adeb24e8-2da0907009.zip
  .yarn/cache/@chakra-ui-system-npm-1.1.0-c92bd9a302-b49dfefeae.zip
  .yarn/cache/@chakra-ui-system-npm-1.1.1-9c5235102a-f6d31bb78d.zip
  .yarn/cache/@styled-system-core-npm-5.1.2-5088b617ae-bc2e0454cc.zip
  .yarn/cache/@types-node-npm-14.14.16-b866b68544-220a7496ec.zip
  .yarn/cache/@types-node-npm-14.14.19-28dd633b29-218ff4a939.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.11.0-65ed229274-a6c8cec983.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.11.1-b2c131d9e1-875f093614.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.11.0-8bac516945-09f56ef6c2.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.11.1-636c3f1df2-3dd46ae27b.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.11.0-9e356247b4-596b01f9f5.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.11.1-66810f35cb-0c7e8c2fe5.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.11.0-fb0721bdeb-acc7510530.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.11.1-dd5f8d70ab-2a0e3d9aca.zip
  .yarn/cache/@typescript-eslint-types-npm-4.11.0-182b8116af-76b5bbf94b.zip
  .yarn/cache/@typescript-eslint-types-npm-4.11.1-6a392b0c35-cfc2f8630b.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.11.0-8d77f81e86-ce8d61598b.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.11.1-e7c372ab0f-26ea32ca99.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.11.0-e380a10116-5c9c83d220.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.11.1-8025f78eff-982f17fcde.zip
  .yarn/cache/eslint-npm-7.16.0-0cac520d5c-facdebbce9.zip
  .yarn/cache/eslint-npm-7.17.0-916da62d1c-12b09a972e.zip
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier-standard --write

feat(theme): lighten the background color
  src/theme.ts
Due: eslint --cache --fix, prettier-standard --write

style: fix stylings
  src/components/app-footer.tsx
  src/components/typography/TextParagraph.tsx
  src/components/ui/project/index.tsx
Due: none

feat(content-spacer): add a minimum padding to the spacer
  src/components/ui/content-spacer/index.tsx
Due: none

fix(lint-staged): attempt to fix lint-staged
  .lintstagedrc.json
Due: prettier-standard --write

refactor(app): make header, navbar and footer available in app-level
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
Due: none

feat(seo): update strings
  src/next-seo.config.ts
Due: eslint --cache --fix, prettier-standard --write

fix(seo): search engiine optimiiizatioooon
  public/img/banner.png
  src/components/app-header.tsx
  src/components/navbar/index.tsx
  src/components/ui/project/index.tsx
  src/next-seo.config.ts
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier-standard --write

fix(footer): uses iterator key
  src/components/app-footer.tsx
Due: none

fix(footer): uses chakraui vstack
  src/components/app-footer.tsx
Due: none

feat: set page minimum height to viewport
  src/components/navbar/index.tsx
  src/pages/_document.tsx
Due: none

feat(textheading): several things
  src/components/typography/TextHeading.tsx
Due: none

fix: uses margin top
  src/pages/index.tsx
Due: none

feat: uses page
  src/pages/uses.tsx
Due: none

feat(header): remove title addition
  src/components/app-header.tsx
Due: none

fix(next-seo-config): consistency
  src/next-seo.config.ts
Due: eslint --cache --fix, prettier-standard --write

feat: browserlist
  package.json
Due: prettier-standard --write

feat(next-config): i18n default lang
  next.config.js
Due: prettier-standard --write

fix(about): search engine optimization
  src/pages/about.tsx
Due: none

fix(contact): search engine optimization and a11y
  src/pages/contact.tsx
Due: none

fix(projects): search engine optimization and a11y
  src/pages/projects.tsx
Due: none

fix(webmanifest): filled details
  public/img/site.webmanifest
Due: none

refactor(about): extract nextseo to parent element
  src/pages/about.tsx
Due: none

feat(projects): short description and long description
  src/_data/projects.json
  src/components/ui/project/index.tsx
Due: prettier-standard --write

feat(projects): fill in content
  src/pages/projects.tsx
Due: none

feat: a11y
  src/pages/index.tsx
Due: none

feat(contact): add email
  src/pages/contact.tsx
Due: none

feat: star page
  src/pages/stars.tsx
Due: none

feat: etc page
  src/pages/etc.tsx
Due: none

style(contact): forgot to yarn format
  src/pages/contact.tsx
Due: none

feat(about): make wip status more highlighted
  src/pages/about.tsx
Due: none

feat(seo): make things crawlable
  src/pages/_app.tsx
Due: none

feat: .well-known
  public/.well-known/keybase.txt
  public/.well-known/security.txt
Due: none

feat: robots.txt
  public/robots.txt
Due: none
